<%= render :partial => 'admin/shared/configuration_menu' %>

<div class='toolbar'>
  <ul class='actions'>
    <li id="new_product_link">
      <%= button_link_to t("ext_static_content_new_page"), create_draft_admin_pages_url, {:icon => 'add'} %>
    </li>
  </ul>
  <br class='clear' />
</div>

<h1><%=t("ext_static_content_static_pages") %></h1>

<table class="index">
	<tr>
		<th><%=t("ext_static_content_title")%></th>
		<th><%=t("ext_static_content_link")%></th>
		<th><%=t("ext_static_content.parent")%></th>
		<th><%=t("ext_static_content_visible")%></th>
		<th><%=t("ext_static_content.in_menu")%></th>
		<th><%=t("action")%></th>
  </tr>
	<tbody>
    	<% @pages.each do |page| %>
		<tr class="<%= cycle('even', 'odd') %>" id="<%= dom_id page %>">
			<td>
				<%= page.title %>
			</td>
			<td>
				<% if page.link.present? %>
				  <%= link_to page.link, page.link %>
				<% else page.foreign_link? %>
				  <%= raw t("ext_static_content.no_link") %>
				<% end %>
			</td>
			<td>
				<%= Page.find(page.parent_id).title if page.parent_id? %>
			</td>
			<td>
			  <%= page.visible ? t(:yes) : t(:no) %>
			</td>
			<td>
				<%= raw("#{t("ext_static_content.header")}<br/>") if page.show_in_header? %>
				<%= raw("#{t("ext_static_content.sidebar")}<br/>") if page.show_in_sidebar? %>
				<%= t("ext_static_content.footer") if page.show_in_footer? %>
			</td>
			<td>
        <%= link_to_edit page %> &nbsp;
        <%= link_to_delete page %>
	    </td>
		</tr>
		<% end %>
	</tbody>
</table>
